<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="graduation.project.sgu.cloudnote.eureka.client.web.dao.mapper.RecycleBinMapper" >
  <resultMap id="BaseResultMap" type="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="note_id" property="noteId" jdbcType="INTEGER" />
    <result column="note_book_id" property="noteBookId" jdbcType="INTEGER" />
    <result column="throw_away_time" property="throwAwayTime" jdbcType="TIMESTAMP" />
    <result column="clear_time" property="clearTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, note_id, note_book_id, throw_away_time, clear_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from recycle_bin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from recycle_bin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from recycle_bin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBinExample" >
    delete from recycle_bin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBin" >
    insert into recycle_bin (id, note_id, note_book_id, 
      throw_away_time, clear_time)
    values (#{id,jdbcType=INTEGER}, #{noteId,jdbcType=INTEGER}, #{noteBookId,jdbcType=INTEGER}, 
      #{throwAwayTime,jdbcType=TIMESTAMP}, #{clearTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBin" >
    insert into recycle_bin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="noteId != null" >
        note_id,
      </if>
      <if test="noteBookId != null" >
        note_book_id,
      </if>
      <if test="throwAwayTime != null" >
        throw_away_time,
      </if>
      <if test="clearTime != null" >
        clear_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="noteId != null" >
        #{noteId,jdbcType=INTEGER},
      </if>
      <if test="noteBookId != null" >
        #{noteBookId,jdbcType=INTEGER},
      </if>
      <if test="throwAwayTime != null" >
        #{throwAwayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clearTime != null" >
        #{clearTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBinExample" resultType="java.lang.Integer" >
    select count(*) from recycle_bin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update recycle_bin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.noteId != null" >
        note_id = #{record.noteId,jdbcType=INTEGER},
      </if>
      <if test="record.noteBookId != null" >
        note_book_id = #{record.noteBookId,jdbcType=INTEGER},
      </if>
      <if test="record.throwAwayTime != null" >
        throw_away_time = #{record.throwAwayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.clearTime != null" >
        clear_time = #{record.clearTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update recycle_bin
    set id = #{record.id,jdbcType=INTEGER},
      note_id = #{record.noteId,jdbcType=INTEGER},
      note_book_id = #{record.noteBookId,jdbcType=INTEGER},
      throw_away_time = #{record.throwAwayTime,jdbcType=TIMESTAMP},
      clear_time = #{record.clearTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBin" >
    update recycle_bin
    <set >
      <if test="noteId != null" >
        note_id = #{noteId,jdbcType=INTEGER},
      </if>
      <if test="noteBookId != null" >
        note_book_id = #{noteBookId,jdbcType=INTEGER},
      </if>
      <if test="throwAwayTime != null" >
        throw_away_time = #{throwAwayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="clearTime != null" >
        clear_time = #{clearTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="graduation.project.sgu.cloudnote.eureka.client.web.pojo.RecycleBin" >
    update recycle_bin
    set note_id = #{noteId,jdbcType=INTEGER},
      note_book_id = #{noteBookId,jdbcType=INTEGER},
      throw_away_time = #{throwAwayTime,jdbcType=TIMESTAMP},
      clear_time = #{clearTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>